@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@200;300;400&family=Quicksand:wght@300;400&family=Roboto+Mono:wght@100;400&display=swap');

* {
    margin: 0;
    height: 100%;
}

html {
    font-family: 'Montserrat', sans-serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cc0000;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.home {
    background-image: url("https://cdn.discordapp.com/attachments/1004884814979145830/1023954988835274772/Senza_titolo-1.png");
    height: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.in {
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    height: auto;
    margin-top: 145px;
}

.not {
    background-color: #0066ffd2;
    background-image: url("img/sped.png");
    height: 4%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.innot {
    text-align: center;
    position: absolute;
    font-size: 50%;
    width: 100%;
    color: white;
    height: auto;
    margin-top: 8px;
}

::-webkit-scrollbar {
    display: none;
}

.button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;
    background-color: #0044ffee;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 130px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.desc {
    color: black;
}

.title {
    color: black;
    font-size: 150%;
}

.footer {
    color: black;
    font-size: 60%;
}